[Unit]
Description=TotoBin Hardware Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/totobin-hardware
ExecStart=/opt/totobin-hardware/bin/python /opt/totobin-hardware/odroid_client.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target